.form-control {
  background-color: #f6f7fb;
  border: none;
  font-size: 14px;
}

.form-control:focus {
  background-color: #f6f7fb;
  border: 1px solid #ced4da;
  box-shadow: none;
  border: none; /* This line will override the previous border property, leaving no border */
}
